##
# Main URL for services callbacks
# Should use https protocol
##
URL = ''

# Unique application name in lowercase
APPLICATION_NAME = ''

# HTTP server settings
SERVER = {
    'host': '127.0.0.1',
    'port': 1339
}

# RabbitMQ server settings
RABBITMQ = {
    'host': 'rabbitmq',
}

# MongoDB
DB = {
    'name': 'default',
    'host': 'mongodb',
    'port': 27017
}

# Token got from App Manager
APPLICATION_TOKEN = ''


# We will store user-to-chat linking in this collection
# _id | chat | user | dt_register
CHATS_COLLECTION_NAME = 'chats'
